{%extends 'base.html'%} 
{% block content %}
<div class="jumbotron">
<h1 style="color: black;">Search Results</h1>
</div>
<div class="container">

    <div id="all">
  <div class="row">
    {% if gallery%}
      <h2>Found {{ gallery|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 articles for the search term {{message}}</h2>
    {% endif %}
</div>
</div>

<div class="row">
  {% if gallery %}
    {% for gallery in gallery %}
    <div class="col-md-4">
          <div class="view view-tenth">
                <img src="{{gallery.image.url}}">
                <div class="mask">
                  <h2>{{gallery.image_name}}</h2>
                  <p>{{gallery.description}}</p>
                  <a href="#" class="info">Read More</a>
                </div>
              </div>
    </div>
    {% endfor %}
  {% endif %}
  </div>


{% endblock %}